*{
  padding: 0;
  margin: 0;
}
body{
  height: 100vh;
  background: url("/images/bg-img.png");
  background-size: 100% 100%;
}
.intro-page-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.title-heading{
  font-family: 'karla',sans-serif;
  color: #293264;
  font-weight: 700;
}
.description{
  font-family: 'Inter';
  font-weight: 400;
  color: #293264;
}
.btn{
  background: #4D5B9E;
  border: 0;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  color: #F5F7FB;
  font-family: inter;
  cursor: pointer;
}